<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/favicon.svg">
    <title>Homepage</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="about-me-background-overlay"></div>
        <section class="about-me">
          <div class="image-name-container">
            <img
              src="../assets/images/moon-behind-pink-leaves.jpg"
              alt="moon behind pink leaves"
              class="profile-picture"
              draggable="false"
            />
            <h1 class="user-name">S O H E L</h1>
          </div>
          <div class="text-link-container">
            <div class="about-me-text">
              <h1 class="about-me-heading">About me</h1>
              <p class="about-me-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, ullam. Doloremque magnam cupiditate beatae
                architecto ipsam totam debitis vitae voluptates modi. Corporis itaque quo, quibusdam aliquam, eveniet obcaecati
                consectetur accusantium dicta culpa facere, laudantium eos fugit neque? Amet, nam earum. Incidunt ut illo autem,
                quis perferendis repellat inventore neque ex.
              </p>
            </div>
            <div class="about-me-links">
              <button class="about-me-button-github link-button">
                <a href="https://github.com/5OH3L" target="_blank" rel="noopener noreferrer" class="about-me-link-github"></a>
                <img src="../assets/icons/icon-code.svg" alt="Code Icon" draggable="false" />
              </button>
              <button class="about-me-button-linkedin link-button">
                <img src="../assets/icons/icon-linkedin.svg" alt="Linkedin Logo" draggable="false" />
                <a href="#" class="about-me-link-linkedin"></a>
              </button>
              <button class="about-me-button-twitter link-button">
                <img src="../assets/icons/icon-x.svg" alt="X Logo" draggable="false" />
                <a href="#" class="about-me-link-x"></a>
              </button>
            </div>
          </div>
        </section>
      </header>
      <main>
        <section class="my-work">
          <h2 class="my-work-heading">My Work</h2>
          <div class="my-work-projects">
            <div class="my-work-project">
              <img src="../assets/project-screenshots/weather-app.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Weather App</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/weather-app" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/weather-app/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A clean and functional <b><em>Weather Forecast</em></b> web app built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>View weekly and hourly forecasts</li>
                    <li>Toggle between units (°C/°F, km/mph, 12-hour/24-hour)</li>
                    <li>See detailed forecast information</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/todo-list.png" alt="Todo List" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Todo List</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/todo-list" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/todo-list/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>An interactive <b><em>To-do List</em></b> web app built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Sort tasks by priority, due date, or manually</li>
                    <li>Organize items using default categories (e.g., active, completed)</li>
                    <li>Edit task details: description, notes, priority, and due date</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/restaurant-page.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Restaurant Page</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/restaurant-page" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/restaurant-page/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A modern <b><em>Restaurant Page</em></b> website built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Filter the menu by dish type</li>
                    <li>Animated transitions between sections</li>
                    <li>Interactive hover effects on menu items</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/etch-a-sketch.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Etch A Sketch</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/etch-a-sketch" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/etch-a-sketch/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A browser-based <b><em>Etch A Sketch</em></b> web app built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Adjustable drawing grid size</li>
                    <li>Choose between rainbow mode or a single color</li>
                    <li>Toggle grid borders on and off</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/tic-tac-toe.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Tic-Tac-Toe</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/tic-tac-toe" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/tic-tac-toe/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A classic <b><em>Tic-Tac-Toe</em></b> game built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Click on a cell to place your mark</li>
                    <li>Popup announcement for the winner</li>
                    <li>Reset the game at any time</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/battleship.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Battleship Board Game</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/battleship-js" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/battleship-js/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A strategic <b><em>Battleship</em></b> game built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Intuitive drag-and-drop ship placement</li>
                    <li>AI opponent with intelligent gameplay</li>
                    <li>Multiple modes: Pass-and-Play and Player vs. Computer</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/calculator.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Calculator</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/calculator" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/calculator/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A functional <b><em>Calculator</em></b> web app built with HTML, CSS, and JavaScript.</p>
                  <p>Features:</p>
                  <ul>
                    <li>Perform basic arithmetic operations</li>
                    <li>Delete last entry or clear all with dedicated buttons</li>
                    <li>Support for floating-point numbers</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/admin-dashboard.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Admin Dashboard</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/admin-dashboard" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/admin-dashboard/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A clean and modern <b><em>Admin Dashboard</em></b> website layout built with HTML and CSS.</p>
                </div>
              </div>
            </div>
            <div class="my-work-project">
              <img src="../assets/project-screenshots/landing-page.png" alt="Weather App" class="project-screenshot"/>
              <div class="my-work-project-details">
                <div class="project-name-links-container">
                  <h3 class="project-name">Landing Page</h3>
                  <div class="project-links">
                    <button class="project-link link-button" title="Source Code">
                      <img src="../assets/icons/icon-code-black.svg" alt="Black Code Icon" draggable="false" />
                      <a href="https://github.com/5OH3L/landing-page" target="_blank" rel="noopener noreferrer" class="project-link-github-source-code"></a>
                    </button>
                    <button class="project-link link-button" title="Live Preview">
                      <img src="../assets/icons/icon-external-link.svg" alt="External Link" draggable="false" />
                      <a href="https://5oh3l.github.io/landing-page/" target="_blank" rel="noopener noreferrer" class="project-link-github-live-preview"></a>
                    </button>
                  </div>
                </div>
                <div class="project-description">
                  <p>A clean and modern <b><em>Landing Page</em></b> website built with HTML and CSS.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <section class="contact-me">
          <div class="contact-me-details">
            <div class="contact-me-texts">
              <h2>Contact Me</h2>
              <p>Please get in touch if you think our work could be mutually beneficial!</p>
              <div class="contact-me-location">
                <p>Random Region</p>
                <p>Random Planet, Random Galaxy</p>
              </div>
              <div class="contact-me-phone-number-email">
                <div class="contact-me-phone-number">
                  <img src="../assets/icons/icon-telephone.svg" alt="" class="contact-me-icon" draggable="false">
                  <p>591-558-7277</p>
                </div>
                <div class="contact-me-email">
                  <img src="../assets/icons/icon-mail.svg" alt="" class="contact-me-icon" draggable="false">
                  <p>home@page.com</p>
                </div>
              </div>
            </div>
            <div class="contact-me-links">
              <button class="about-me-button-github link-button">
                <a href="https://github.com/5OH3L" target="_blank" rel="noopener noreferrer" class="about-me-link-github"></a>
                <img src="../assets/icons/icon-code.svg" alt="Code Icon" draggable="false" />
              </button>
              <button class="about-me-button-linkedin link-button">
                <img src="../assets/icons/icon-linkedin.svg" alt="Linkedin Logo" draggable="false" />
                <a href="#" class="about-me-link-linkedin"></a>
              </button>
              <button class="about-me-button-twitter link-button">
                <img src="../assets/icons/icon-x.svg" alt="X Logo" draggable="false" />
                <a href="#" class="about-me-link-x"></a>
              </button>
            </div>
          </div>
          <img src="../assets/images/moon-behind-brown-leaves.jpg" alt="moon behind brown leaves" class="contact-me-image" draggable="false">
        </section>
      </footer>
    </div>
  </body>
</html>
