<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="about-me-background-overlay"></div>
        <section class="about-me">
          <div class="image-name-container">
            <img src="../assets/images/moon-behind-pink-leaves.jpg" alt="moon behind pink leaves" class="profile-picture" draggable="false"/>
            <h1 class="user-name">S O H E L</h1>
          </div>
          <div class="text-link-container">
            <div class="about-me-text">
              <h1 class="about-me-heading">About me</h1>
              <p class="about-me-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, ullam. Doloremque magnam cupiditate beatae
                architecto ipsam totam debitis vitae voluptates modi. Corporis itaque quo, quibusdam aliquam, eveniet obcaecati
                consectetur accusantium dicta culpa facere, laudantium eos fugit neque? Amet, nam earum. Incidunt ut illo autem,
                quis perferendis repellat inventore neque ex.
              </p>
            </div>
            <div class="about-me-links">
              <button class="about-me-button-github link-button">
                <a href="https://github.com/5OH3L" target="_blank" rel="noopener noreferrer" class="about-me-link-github"></a>
                <img src="../assets/icons/icon-code.svg" alt="Code Icon" draggable="false">
              </button>
              <button class="about-me-button-linkedin link-button">
                <img src="../assets/icons/icon-linkedin.svg" alt="Linkedin Logo" draggable="false">
                <a href="#" class="about-me-link-linkedin"></a>
              </button>
              <button class="about-me-button-twitter link-button">
                <img src="../assets/icons/icon-x.svg" alt="X Logo" draggable="false">
                <a href="#" class="about-me-link-x"></a>
              </button>
            </div>
          </div>
        </section>
      </header>
      <main></main>
      <footer></footer>
    </div>
  </body>
</html>
